@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Geologica&family=Josefin+Sans&family=Playfair+Display:wght@500&family=Vollkorn&display=swap');

:root {
    --main-text-color: #FFD700;
    --header-background-color: #141562;
    --body-color: #a8c0d8;
    --body-text: #FFD700;
    --text-shape: 'Geologica', 'sans-serif';
    --nav-text: 'Geologica', 'sans-serif';
    --title-three: 'Geologica', 'sans-serif';
    --banner-text: 'Cinzel Decorative', 'sans-serif';
    --banner-background-one: #141562;
    --banner-background-two: #450887;
    --banner-background-three: #1a3f96;
    --banner-background-four: #001331;
    --hypertext-color: #ef4f54;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    max-width: 1280px;
    top: 10px;
    margin: auto;
    border-radius: 30px;
    background-color: var(--body-color);
}

header{
    max-width: 1280px;
    height: 70px;
    width: 100%;
    margin: auto;
    background-color: var(--header-background-color);
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--main-text-color) solid 1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.logo {
    position: relative;
    left: 15px;
    height:70px;
    background-size: contain;    
}

nav{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item {
    color: var(--main-text-color);
    width: 30%;
    height: 100%;
    border: var(--main-text-color) solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--nav-text);
}

.nav-item:hover {
    background-color: var(--main-text-color);
    color: var(--header-background-color);
}

main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.presentation {
    background-image: linear-gradient(135deg, 
    var(--banner-background-one) 0%,
    var(--banner-background-three) 20%, 
    var(--banner-background-one) 40%,
    var(--banner-background-two) 60%,
    var(--banner-background-two) 73%,
    var(--banner-background-four) 95%
    );
    height: 300px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.banner {
    background-size: contain;
    height: 100%;
}

.projects {
    margin: 20px;
}

.certificates {
    margin: 20px;
}

.logo-on-presentation {
    color: var(--main-text-color);
    font-size: 72px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: var(--banner-text);
    position: relative;
    top: 10px;
    left: 10px;
}

.h1 {
    position: relative;
    width: 133px;
    height: 133px;
    border:#FFD700 solid 4px;
    border-radius: 50%;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    color: var(--main-text-color);
    font-size: 72px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: var(--text-shape);
    position: relative;
    bottom: 15px;
}

.title-presertation {
    display: flex;
    flex-direction: row;
}

h3 {
    color: var(--header-background-color) ;
    font-family: var(--title-three);
    font-size: 20px;
}

p {
    color: var(--banner-background-one);
    font-family: var(--text-shape);
}

li {
    line-height: 1.5;
}

li a {
    font-family: var(--text-shape);
    color: var(--hypertext-color);
    font-weight: bold;
}

li a:hover {
    color: var(--banner-background-four);
}

footer{
    height: 70px;
    width: 100%;
    margin: auto;
    background-color: var(--header-background-color);
    background-size: contain;
    display: flex;
    color: var(--main-text-color);
    justify-content: space-between;
    align-items: center;
    border: var(--main-text-color) solid 1px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
